.error {
    color: red;
}
.form-control{
    width: 30%;
}
.card-body{
    margin-left: 38%;
    color: #fff;
    margin-top: 5%;
    
}
.details{
    margin-left: 38%;
    color: #fff;
    margin-top: 15%;
}
.card-header{
    width: 30%;
    border-radius: 5px;
    text-align: center;
}



