.error{
    color: red;
}
.form-control{
    width: 35%;
}
.card-body{
    margin-left: 38%;
    color: #fff;
    margin-top: 5%;
}
.card-header{
    width: 35%;
    border-radius: 5px;
    text-align: center;
}